process {
  cache = 'lenient'
  executor='slurm'
  cpus={ 4 }
  errorStrategy = 'retry' 
  maxRetries = 8
  disk = 2000.GB
  memory={ 32.GB  }
  time='4h'

  withLabel: 'samtoolsetc' {
        container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
        }
  withLabel: 'tidyverse' {
	container = 'rocker/tidyverse:latest'
	}
  withLabel: 'gatk' {
	container = 'broadinstitute/gatk:4.1.3.0'
	}
  withLabel: 'seurat' {
	container = 'hattyoriiiiiii/rstudio-seurat_5.1.0:1.0'
        }
  withLabel: 'vcftools' {
	//container = 'biocontainers/vcftools:v0.1.16-1-deb_cv1'
	container = 'cgrlab/vcftools'
	}
  errorStrategy = 'ignore'
}

params{
	cellranger="path/to/cellranger"
	metadata="metadata.csv"
	fasta_dir="fasta_dir"
	gtf_dir="gtf_dir"
	read_dir="path/to/reads"
	run_cellranger='TRUE'
        cellranger_data='path/to/prerun_cellranger_data'
	gff_dir="gff_dir"
	alevin_quant='FALSE'
	sc_var_call='TRUE'
	clus_var_call='FALSE'
}

profiles {
}

singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/parscratch/users/bi1pp/Avian_sc_quant/sing/'
}

singularity.cacheDir='/mnt/parscratch/users/bi1pp/Avian_sc_quant/sing/'


