process {
  cache = 'lenient'
  executor='sge'
  cpus={ 4 }
  errorStrategy = 'retry' 
  maxRetries = 8
  disk = 2000.GB
  memory={ 32.GB  }
  time='4h'
  penv='smp'
  queue = 'ressexcon.q'
  clusterOptions = '-P ressexcon'
  withLabel: 'agat' {
        container = 'quay.io/biocontainers/agat:0.8.0--pl5262hdfd78af_0'
        }
  withLabel: 'orthofinder' {
	container = 'davidemms/orthofinder:2.5.5.2'
	}
  withLabel: 'R' {
        container = 'rocker/tidyverse'
        }
  withLabel: 'python_orth' {
       	container = 'jupyter/scipy-notebook:latest'
        } 
  withLabel: 'prank' {
        container = 'quay.io/biocontainers/prank:v.170427--h4ac6f70_7'
        }
  errorStrategy = 'ignore'
}

params{
	metadata="metadata.csv"
	tree='data/tree.txt'
}

profiles {
	conda {
		binary = '/home/bop20pp/miniconda3/bin/conda'
	}
}

/*
apptainer { 
	enabled = true 
	autoMounts = true
        cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/ortho/apptainer/'
}

*/

singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/ortho/sing/'
}


singularity.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/ortho/sing/'
//apptainer.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/ortho/apptainer'
