process {
  cache = 'lenient'
  executor='sge'
  cpus='8'
  memory='32 GB'
  time='4h'
  penv='smp'
  queue = 'ressexcon.q'
  clusterOptions = '-P ressexcon'
  withLabel: 'samtoolsetc' {
        container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
        }
  withLabel: 'tidyverse' {
	container = 'rocker/tidyverse:latest'
	}
}

params{
	cellranger="path/to/cellranger"
	metadata="metadata.csv"
	fasta_dir="fasta_dir"
	gtf_dir="gtf_dir"
	read_dir="path/to/reads"
	run_cellranger='TRUE'
        cellranger_data='path/to/prerun_cellranger_data'
}

profiles {
}


apptainer { 
	enabled = true 
	autoMounts = true
        cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer/'
}


singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
}

singularity.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
apptainer.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer'
