process {
  cache = 'lenient'
  executor='sge'
  cpus='8'
  memory='32 GB'
  time='4h'
  penv='smp'
  queue = 'ressexcon.q'
  clusterOptions = '-P ressexcon'
  //withName:[ mut_id; nocellranger_split_bam; mut_id ]{
  //      container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
  //      }
  withName:nocellranger_split_bam {
	container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
	}
  withName:split_bam {
        container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
        }
   withName:mut_id {
	container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
        }
   withName:create_seq_dict { 
        container = 'biocontainers/picard:v1.139_cv3'
        }

}

params{
	cellranger="path/to/cellranger"
	metadata="metadata.csv"
	fasta_dir="fasta_dir"
	gtf_dir="gtf_dir"
	read_dir="path/to/reads"
	run_cellranger='TRUE'
        cellranger_data='path/to/prerun_cellranger_data'
	java_path='/usr/local/extras/Genomics/apps/java/current/bin/java'
}

profiles {
}


apptainer { 
	enabled = true 
	autoMounts = true
        cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer/'
}


singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
}

singularity.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
apptainer.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer'
