process {
  cache = 'lenient'
  executor='sge'
  cpus={ 4 }
  errorStrategy = 'retry' 
  maxRetries = 8
  disk = 2000.GB
  memory={ 32.GB  }
  time='4h'
  penv='smp'
  queue = 'ressexcon.q'
  clusterOptions = '-P ressexcon'
  withLabel: 'samtoolsetc' {
        container = 'lindenb/jvarkit:1e09f06d4c05e5a148'
        }
  withLabel: 'tidyverse' {
	container = 'rocker/tidyverse:latest'
	}
  withLabel: 'seurat' {
        container = 'satijalab/seurat:latest'
        }
  errorStrategy = 'ignore'
}

params{
	cellranger="path/to/cellranger"
	metadata="metadata.csv"
	fasta_dir="fasta_dir"
	gtf_dir="gtf_dir"
	read_dir="path/to/reads"
	run_cellranger='TRUE'
        cellranger_data='path/to/prerun_cellranger_data'
	gff_dir="gff_dir"
	cellcycle_markers='/home/bop20pp/software/Avian_scRNAseq/CL_analyses/nextflow/bioworkbook/data/chicken_cellcycle.csv'
        celltype_markers='/home/bop20pp/software/Avian_scRNAseq/CL_analyses/nextflow/bioworkbook/data/markers.csv'
}

profiles {
}


apptainer { 
	enabled = true 
	autoMounts = true
        cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer/'
}


singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
}

singularity.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/sing/'
apptainer.cacheDir='/mnt/fastdata/bop20pp/Avian_scRNAseq/nextflow/apptainer'
