process {
  cache = 'lenient'
  executor='slurm'
  cpus={ 4 }
  errorStrategy = 'retry' 
  maxRetries = 8
  disk = 2000.GB
  memory={ 32.GB  }
  time='4h'
  //penv='smp'
  //queue = 'ressexcon.q'
  //clusterOptions = '-P ressexcon'
  withLabel: 'agat' {
        container = 'quay.io/biocontainers/agat:0.8.0--pl5262hdfd78af_0'
        }
  withLabel: 'orthofinder' {
	container = 'davidemms/orthofinder:2.5.5.2'
	}
  withLabel: 'R' {
        container = 'rocker/tidyverse'
        }
  withLabel: 'python_orth' {
       	container = 'jupyter/scipy-notebook:latest'
        } 
  withLabel: 'prank' {
        //container = 'quay.io/biocontainers/prank:v.170427--h4ac6f70_7'
        container = 'gcc'
	}
  withLabel: 'paml' {
        container = 'quay.io/biocontainers/paml:4.10.6--h031d066_2'
        }
  withLabel: 'python:2.7-alpine' {
        container = 'python:latest'
        }
  withLabel: 'ape' {
        container = 'docker://bomeara/phydocker:latest'
        }


  errorStrategy = 'ignore'  
}



params{
	metadata="metadata.csv"
	tree='data/WF_tree.txt'
	branch_tree='data/WF_branch_trees'
	swamp_test_params='data/SWAMP_PARAMS/SWAMP_TEST.txt'
        swamp_final_params='data/SWAMP_PARAMS/SWAMP_FINAL.txt'
	swamp='yes'
	sequence_source='ncbi'
}


profiles {
	conda {
		conda.enabled = true
	}
}

/*
process {
	withName: prank {
		beforeScript =
  		"""
		module load R/4.0.5-foss-2020b
                """
	}
}




apptainer { 
	enabled = true 
	autoMounts = true
        cacheDir = '/mnt/parscratch/users/bop20pp/Avian_scRNAseq/var_rates/apptainer'
}

*/

singularity {
	enabled = true
        autoMounts = true
	cacheDir = '/mnt/parscratch/users/bop20pp/Avian_scRNAseq/var_rates/sing/'
}


singularity.cacheDir='/mnt/parscratch/users/bop20pp/Avian_scRNAseq/var_rates/sing/'
//apptainer.cacheDir='/mnt/parscratch/users/bop20pp/Avian_scRNAseq/var_rates/apptainer'
